[access]
	inheritFrom = All-Projects
[project]
	description = SendGrid Java helper library
[access "refs/*"]
	owner = group user/hemanthprabhu
[access "refs/for/refs/*"]
	read = group user/hemanthprabhu
	push = group user/hemanthprabhu
	label-Code-Review = -2..+2 group user/hemanthprabhu
	label-Verified = -1..+1 group user/hemanthprabhu
	rebase = group user/hemanthprabhu
	removeReviewer = group user/hemanthprabhu
	submit = group user/hemanthprabhu
[access "refs/heads/*"]
	read = group user/hemanthprabhu
	create = group user/hemanthprabhu
	push = +force group user/hemanthprabhu
	pushMerge = group user/hemanthprabhu
[access "refs/tags/*"]
	push = group user/hemanthprabhu
	push = +force group user/hemanthprabhu
